<div id="arum-panel">
  <% if @translations.empty? %>
    There's no sentence to be translated.
  <% else %>
    <% @translations.keys.each do |key| %>
      <section>
        <h1 class="arum-i18n-key"><%= key %></h1>
        <% @translations[key].keys.each do |locale| %>
          <section>
            <h2><%= locale %></h2>
            <form action="/arum/translations" method="post">
              <input name="locale" type="hidden" value="<%= locale %>" />
              <input name="key" type="hidden" value="<%= key %>" />
              <textarea name="translation" rows="3" cols="10"><%= @translations[key][locale] %></textarea>
              <input type="submit" />
            </form>
          </section>
        <% end %>
      </section>
    <% end %>
  <% end %>
</div>
